<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="collections" href="/tabs/collections">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
      @if (cartCount() > 0) {
        <ion-badge color="danger">{{ cartCount() }}</ion-badge>
      }
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
